{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 1 - Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <center>
    <h1>This is index</h1>
    <img src="{% static 'images/django-logo.png' %}"/>
    <h2>{{ course }}</h2>
    <p>{{ another }}</p>
    

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>i'm learning gggit</th>
            </tr>
        </thead>
        <tbody>
            {% for product in produtos %}
                <tr>
                    <td><a href="{% url 'product' product.id %}">{{ product.name }}</a></p>
                    <td>{{ product.price }}</p> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="test();">Click here</button>
    </center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>