{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Product</h1>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{% url 'index' %}">{{ product.name }}</a></p>
                    <td>{{ product.price }}</p> 
                    <td>{{ product.stock  }}</td>
                </tr>
        </tbody>
    </table>
</body>
</html>